nav{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
nav a{
    /* text-decoration: none; */
    /* border: none; */
}
.nav-title{
   font-size: 34px;
    margin-left: 150px;
    margin-top: 50px;
     color: #4E47FF;
}
.btn-primary{
    margin-top: 51.5px;
     margin-right: 150px;
      background-color: #4E47FF;
       color: #FFFFFF;
       padding: 12px 36px;
       border: none;
       border-radius: 10px;
       cursor: pointer;
}
.btn-primary:hover{
background-color: yellowgreen;
}
.header-nav{
    background-image: url(Assets/Hero-bg.png);
}
.header-middle{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}
.header-middle h1{
    /* margin-top: 309px; */
    /* margin-top: 259px;
    /* margin-bottom: 152px; */
    /* margin-left: 267.5px; */
    /* margin-left: 117.5px; */
    /* margin-right: 267.5px; */
    /* margin-right: 117.5px;  */
    margin: auto;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 150px;
    color: #252432;
    
}
.btn-primary2{
    /* margin-top: 498px;
    margin-bottom: 152px;
    margin-right: 633px;
    margin-left: 633px; */
    background-color: #4E47FF;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    padding: 12px 36px;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 50px;
    cursor: pointer;
}
.btn-primary2:hover{
    background-color: yellowgreen;
}
.banner-heading{
    color: #252432 ;
    font-weight: bold;
    font-size: 35px;
}
.banner{
    margin-left: 140px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
    margin-top: 116px;
}
.banner-description{
    color: rgba(37, 36, 50, 0.5);
    font-size: 24px;
    font-weight: 400;
    margin-right: 370px;
}
 

.banner img{
    /* align-items: center ; */
    margin-right: 100px;
    border-radius: 48px;
}
.users{
    margin: auto;
    margin-left: 280px;
    margin-right: 300px;
    /* background-color: rgba(255, 255, 255, 1); */
    background-color: rgba(78, 71, 255, 0.1);

}
.users-rate{
    font-weight: bold;
    font-size: 38px;
    color: #252432;
    text-align:center;
    margin-top: 100px;
    margin: auto;
}
.users-explanation p{
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 0;
    margin-bottom: 50px;
}
.users-explanation h2{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin-bottom: 0;
}
.users-no{
    display: flex;
    justify-content: space-between;
    /* margin-left: 140px; */
}

.users{
    margin-left: 140px;
    margin-right: 160px;
    border-radius: 24px;
}
.users-explanation{
    margin-left: 142px;
    /* margin-right: 142px; */
    margin: auto;
}
.users-saying{
    margin-top: 140px;
}
.users-say{
    font-weight: bold;
    font-size: 42px;
    text-align: center;
    margin: auto;
    margin-bottom: 100px;
}
.users-saying{
    margin-left: 150px;
    margin-right: 150px;
}
.comments img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
}
.comments{
    display: flex;
}
.rating-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.ready-focus div h1{
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}
.ready-focus div p{
    text-align: center;
     
}
.ready-focus div a button{
    /* margin:10px 470px ;
    padding: 12px 36px; */
    margin-left: 450px;
}
.ready-focus img{
    margin-top: 0;
}
.ready-focus div{
    margin-bottom: 0;
}
.ready-focus{
    margin-left: 150px;
    margin-right: 150px;
}
.get-in-touch-box{
    font-weight: bolder;
    font-size: 200;
    /* margin: auto; */
    margin-top: 150px;
}
.get-in-touch{
        background-color: rgba(78, 71, 255, 0.1);
        margin-left: 150px;
        margin-right: 150px;
        display: flex;
        justify-content: space-around;
}
.form input[type="text"], .form input[type="email"], .form textarea{
    height: 60px;
    width: 100%;
    border-radius: 5px;
    display: block;
    padding: 10px 20px;
    border: lightblue;

}
footer{
    margin: 100px 450px;
    text-align: center;
}
footer h1{
    color: #4E47FF;
    font-size: 100px;
    font-weight: bolder;
}
footer p{
    font-weight: 300;

}
footer div{
    font-weight: 300;
    display: flex;
    justify-content: space-around;
}
